body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#voltar {
    position: absolute;
    top: 1%;
    left: 10%;
    color: black;
    text-decoration: none;

    span {
        font-size: 20px;
    }

    &:hover {
        cursor: pointer;
    }

}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 48%;
}

.info {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.delete {
    background: #ccc;
}

.edit {
    background: #777;
    color: white;
}